

            
            <div class="row">		            				
					<div class="span6">					
						<h4 class="title"><span class="text"><strong>Register</strong> Seller</span></h4>
						<%= form_for(@seller,:html=>{:class=>"form-stacked"}) do |f| %>
              	  	<div class="clr"></div>
				  	<% if @seller.errors.any? %>   
				      <ul class="alert fade in alert-error">
				      <% @seller.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    
				  <% end %>
						
							<fieldset>
								<div class="control-group">
									<%=f.label :first_name,:class=>"control-label"%>
									<div class="controls">
										 <%= f.text_field :first_name, :required => true%>										
									</div>
								</div>
								<div class="control-group">
									<%=f.label :last_name,:class=>"control-label"%>
									<div class="controls">
										 <%= f.text_field :last_name, :required => true %>										
									</div>
								</div>
								 <%= f.fields_for :user do |u| %>
								<div class="control-group">
									<%=u.label :email,:class=>"control-label"%>
									<div class="controls">
										 <%= u.email_field :email, :required => true, :autofocus => true,:class=>"form-control" %>							
									</div>
								</div>
								<div class="control-group">
									<%=u.label :password,:class=>"col-lg-2 control-label"%>
									<div class="controls">
										 <%= u.password_field :password, :required => true,:class=>"form-control" %> 									
									</div>
								</div>
								<div class="control-group">
									<%=u.label :password_confirmation,:class=>"control-label"%>
									<div class="controls">
										 <%= u.password_field :password_confirmation, :required => true,:class=>"form-control" %>  									
									</div>
								</div>
								 <%end%>
								<div class="control-group">
									<%=f.label :address,:class=>"col-lg-2 control-label"%>
									<div class="controls">
										 <%= f.text_field :address, :required => true,:class=>"form-control" %>										
									</div>
								</div>
								<div class="control-group">
									<%=f.label :mobile,:class=>"col-lg-2 control-label"%>
									<div class="controls">
										 <%= f.text_field :mobile, :required => true,:class=>"form-control" %>									
									</div>
								</div>	
							</fieldset>
							<%= f.submit "Sign in",:class=>"btn btn-primary" %>
							<%end%>			
					</div>	
							
				</div>
          