

   <div class="row">
          <div class="col-lg-10 cufstom-form" >
            <div class="well">
            	<div class="col-lg-6">
              	  	<div class="clr"></div>
                         <h3 class="page-header">Already User?</h3>
                            <%=link_to 'Login',new_user_session_path,:class=>"btn btn-primary"%>
            	</div>
            	<div class="col-lg-6">
            		<%= form_for :@order,:html=>{:class=>"bs-example form-horizontal"} do |f| %>
              	  	<div class="clr"></div>
				  	             
                         <h3 class="page-header">New User</h3>
                                  
		                  <div class="form-group">
		                    <%=f.label :name,:class=>"col-lg-2 control-label"%>
		                    <div class="col-lg-8">
		                      <%= f.text_field :name, :required => true,:class=>"form-control" %>
		                     
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <%=f.label :address,:class=>"col-lg-2 control-label"%>
		                    <div class="col-lg-8">
		                         <%= f.text_field :address, :required => true,:class=>"form-control" %>                      
		                    </div>
		                  </div>                
		                 
		                  <div class="form-group">
		                    <%=f.label :contact,:class=>"col-lg-2 control-label"%>
		                    <div class="col-lg-8">                    	
		                      <%= f.text_field :contact, :required => true,:class=>"form-control" %>
		                    </div>
		                  </div>
                 
                   
                        <%= f.submit "Sign in",:class=>"btn btn-primary" %>
                   
              <%end%>
            	</div>
            	
            	
              	<%= form_for :@order,:html=>{:class=>"bs-example form-horizontal"} do |f| %>
		                  <div class="clr"></div>
		                        <div class="form-group">
		                   
		                    <div class="col-lg-6">                    	
		                      <a href="">Login</a>
		                    </div>
		                  </div>
                 
                   
                       
                   
              <%end%>
                 
               
            
              </div></div>
          </div>
          <style type="text/css">
          	.cform-control{
          		height: 40px;
    width: 90%;
          	}
          	.ccontrol-label{
          		height: 39px;
          	}
          	.right-6px{
          		/*margin-left: 50%;*/
          	}
          </style>









