
<div class="row">
          <div class="col-lg-12 cufstom-form" >
            <div class="well">
              	<%= form_for @seasion,:html=>{:class=>"bs-example form-horizontal"} do |f| %>
              	  	<div class="clr"></div>		  
		            <div id="brand_notice" class="alert alert-dismissable">
		              <button type="button" class="close" data-dismiss="alert">&times;</button>
		               
		            </div>
          
                <fieldset>
                  <legend>New Seasion</legend>
                  <div class="col-lg-6">                  
                  <div class="form-group">
                    <%=f.label :name,:class=>"col-lg-2 control-label"%>
                    <div class="col-lg-8">
                      <%= f.text_field :name, :required => true,:class=>"form-control" %>
                      </div>
                  </div>
                  </div>
                  <div class="col-lg-6"> 
                  <div class="form-group">
                    <%=f.label :status,:class=>"col-lg-2 control-label"%>
                    <div class="col-lg-8">
                    	<div class="radio">
                        <label>
                          <input type="radio" name="status" id="active_status" value="1" checked="">
                          Active
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="status" id="inactive_status" value="0">
                          Inactive
                        </label>
                      </div>
                    </div>
                  </div>
                  </div>
                  </fieldset>
                  <div class="form-group">
                    <div class="col-lg-12 col-lg-offset-3">
                      <button class="btn btn-danger" id="clear_seasion">Clear</button> 
                      <button class="btn btn-primary" id="save_seasion">Save</button> 
                      <button  class="btn btn-primary" id="update_seasion" disabled="disabled" seasion_id="">Update</button>
                    </div>
                  </div>
                  <%end%>
                   <fieldset>                  	
                  	<div id="seasion-list">
                  	<%=render 'seasions'%>
                  	</div>
                  </fieldset>
                  </div>
                 
                  
                  </div></div>



