<div class="row">
	<h4 class="title"><span class="text"><strong>Category</strong> Description</span></h4>
	<%= form_for @category,:html=>{:class=>"form-stacked"} do |f| %>
	<div class="clr"></div>
	<div id="brand_notice" class="alert alert-dismissable">
		<button type="button" class="close" data-dismiss="alert">
			&times;
		</button>
	</div>

	<fieldset>

		<div class="control-group">
			<%= f.label :name,:class=>"control-label"%>
			<div class="controls">
				<%= f.text_field :name, :required => true,:class=>"form-control" %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :status,:class=>"control-label"%>
			<div class="controls">
				<div class="radio">
					<label>
						<input type="radio" name="status" id="active_status" value="1" checked="">
						Active </label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="status" id="inactive_status" value="0">
						Inactive </label>
				</div>
			</div>
		</div>

	</fieldset>
	<div class="form-group">
		<div class="col-lg-12 col-lg-offset-3">
			<button class="btn btn-danger" id="clear_category">
				Clear
			</button>
			<button class="btn btn-primary" id="save_category">
				Save
			</button>
			<button  class="btn btn-primary" id="update_category" disabled="disabled" category_id="">
				Update
			</button>
		</div>
	</div>
	<%end%>
	<fieldset>
		<div id="category-list">
			<%= render 'categories'%>
		</div>
	</fieldset>
</div>

