



<%unless @products.blank?%>
        <div class="row">
        	<h3 class="page-header">Products <%=link_to "Add Product",new_seller_product_path(current_user.seller),:class=>"btn btn-primary" %></h3>
            
              <table class="table table-striped table-hover" id="sunil_datatable">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Brand</th>
                  <th>Color</th>
                  <th>Category</th>
                  <th>Seasion</th>
                  <th>Action</th>
                </tr>
                <tbody>
                <%@products.each do |pro|%>
	                <tr>
	                  <td>1</td>	
	                  <td><%=pro.name%></td>
	                  <td><%=pro.description%></td>
	                  <td><%=pro.brand.name unless pro.brand.blank?%></td>
	                  <td><%=pro.color.name unless pro.color.blank?%></td>
	                  <td><%=pro.category.name unless pro.category.blank?%></td>
	                  <td><%=pro.seasion.name unless pro.seasion.blank?%></td>
	                  <td>
	                  	<%=link_to image_tag("../assets/view.jpg",height: 20,width: 20),seller_product_path(@seller,pro)%> | <%=link_to image_tag("../assets/edit.jpg",height: 20,width: 20),edit_seller_product_path(@seller,pro)%> | <%=link_to image_tag("../assets/delete1.jpg",height: 20,width: 20),seller_product_path(@seller,pro),method: "delete"%>
	                  </td>
	                   
	                </tr>
                <%end%>
                   
                </tbody>            
              </table>
        </div>
        
      

<%else%>

<p> Sorry there is no record,<%=link_to "Add Product",new_seller_product_path(current_user.seller),:class=>"btn btn-primary" %></p>
<%end%>
