<div class="row">
	<div class="span4">
		<script type="text/javascript">
			CloudZoom.quickStart();
		</script>

		<!-- <%@product.images.each do |image|%>
		<%=image_tag(image.image.url,height: 500,width: 400) unless image.blank?%>
		<%end%> -->
		<img class = "cloudzoom" src = "<%= @product.images.first.image.url(:small)%>"
		data-cloudzoom = "zoomImage: '<%= @product.images.first.image.url(:large)%>'" />
		<br/>
		<%@product.images.each do |image|%>
		<img class = 'cloudzoom-gallery' src = "<%= image.image.url(:thumb)%>" data-cloudzoom = "useZoom: '.cloudzoom', image: '<%= image.image.url(:small)%>', zoomImage: '<%= image.image.url(:large)%>' " >
		<%end%>
	</div>
	<div class="span5">
		<address>
			<strong><%= @product.name.capitalize%></strong>
			<h3 style="color: red;font: bold;"><%= number_to_currency(@product.price)%></h3>
			<strong>Brand:</strong><span><%= @product.brand.name.capitalize unless @product.brand.blank?%></span>
			<br>
			<strong>Color:</strong><span><%= @product.color.name unless @product.color.blank?%></span>
			<br>
			<strong>Seasion:</strong><span><%= @product.seasion.name.capitalize unless @product.seasion.blank?%></span>
			<br>
			<strong>Category:</strong><span><%= @product.category.name.capitalize unless @product.category.blank? %></span>
			<br>
			<strong>Tags:</strong><span><%= @product.tags.count%></span>
			<br>
		</address>
		<%= link_to "Add To Cart", cart_buyers_path(product_id: @product.id),method: "POST",class: "btn btn-danger" %>
	</div>
</div>
<div class="row">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active">
			<a href="#home">Description</a>
		</li>
		<li class="">
			<a href="#profile">Additional Information</a>
		</li>
		<li class="">
			<a href="#review">Reviews</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="home">
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
		</div>
		<div class="tab-pane active" id="review">
			<%unless @product.reviews.blank?%>
				<%@product.reviews.each do |r|%>
				<li style="none;">
				jjjjkjkkj
				</li>
			<%end%>
			<%end%>
		</div>
		<div class="tab-pane" id="profile">
			<table class="table table-striped shop_attributes">
				<tbody>
					<tr class="">
						<th>Size</th>
						<td>Large, Medium, Small, X-Large</td>
					</tr>
					<tr class="alt">
						<th>Colour</th>
						<td>Orange, Yellow</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$('#myTab a:first').tab('show');
		$('#myTab a').click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		})
	})
	$(document).ready(function() {
		$('.thumbnail').fancybox({
			openEffect : 'none',
			closeEffect : 'none'
		});

		$('#myCarousel-2').carousel({
			interval : 2500
		});
	}); 
</script>
<!-- <div class="row">
<div class="col-lg-10 cufstom-form" >
<div class="product_view">
<span class="loyalty-message">Description</span>
<hr />
<p>
<%= @product.description.capitalize%>
</p>
<span class="loyalty-message">Reviews</span>
<hr />


</div>
</div>
</div> -->
