
<ul class="nav nav-list">
	<li class="nav-header">
		Brands (<%=@brands.count%>)
	</li>
	<%unless @brands.blank?%>
	  <%@brands.each do |brand|%>
	  <li class="item"><%=check_box_tag "brand_id",brand.id%> <%=brand.name.capitalize%></li>   
	 <%end%>
	<%end%>	
</ul>
<ul class="nav nav-list">
	<li class="nav-header">
		Categories (<%=@categories.count%>)
	</li>
	<%unless @categories.blank?%>
	  <%@categories.each do |cat|%>	  
		<li class="item"><%=check_box_tag "cat_id",cat.id%> <%=cat.name.capitalize%></li>  
	 
	 <%end%>
	<%end%>	
</ul>
<ul class="nav nav-list">
	<li class="nav-header">
		Seasions (<%=@seasions.count%>)
	</li>
	<%unless @seasions.blank?%>
	  <%@seasions.each do |sea|%>
	  <li class="item"><%=check_box_tag "sea_id",sea.id%> <%=sea.name.capitalize%></li> 
	 <%end%>
	<%end%>	
</ul>

<br/>
