
<html>
  <head>
    <title>FormalChoise</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  </head>

<body style="background-color: #CAC9C4;">  

    <!-- Fixed navbar -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">          
         <a href="#" id="logo"><img src="/../assets/logo1.png" height="54" width="150" alt=""></a>  
         <%=link_to 'Logout',destroy_user_session_path,:method=>'delete'%>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>    
             <li><%=link_to 'Logout',destroy_user_session_path,:method=>'delete'%></li>          
          </ul>
          <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                  </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
           <div class="col-lg-2">
           	 <div class="bs-example">
           	 	<%if current_user.admin?%>
               <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">              	
              	<li>
              		<%= link_to raw("Brands <span class='badge'>#{Brand.all.count}</span>"),brands_path %>
              	</li>
              	<li><%=link_to 'Product Categories',categories_path%></li>
              	<li><%=link_to raw("Colors <span class='badge'>#{Color.all.count}</span>"),colors_path%></li>
              	<li><%=link_to 'Seasions',seasions_path%></li>
              	<li><%=link_to 'Tags',tags_path%></li>
              	<li><%=link_to raw("Sellers <span class='badge'>#{Seller.all.count}</span>"),sellers_path%></li>                
                <li><a href="#">Current Orders</a></li>
                <li><a href="#">Archive Orders</a></li>
              </ul> 
             <%else%>
               <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
              	<li><a href="#">Profile</a></li>              	
                <li><%=link_to "Products",seller_products_path(current_user.seller)%></li>
                <li><a href="#">Current Orders</a></li>
                <li><a href="#">Archive Orders</a></li>
                <li><a href="#">Message To Admin</a></li>
              </ul>
             <%end%>
            </div>
    		</div>
    		
		     <div class="col-lg-10" style="background-color: white; color: black;-webkit-box-shadow: 7px 7px 5px -5px rgba(0, 0, 0, 0.75);-moz-box-shadow:7px 7px 5px -5px rgba(0, 0, 0, 0.75);box-shadow:7px 7px 5px -5px rgba(0, 0, 0, 0.75);">
				<%=yield%>
				</div>     
     
    </div> 
    

   
    </body>
  <br />
  <footer>
            <div class="row">
                <div class="col-lg-12 navbar-default">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>
</html>
