
<html>
  <head>
    <title>FormalChoice</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  </head>

<body style="background-color: #CAC9C4;">  

    <!-- Fixed navbar -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">          
         <a href="#" id="logo"><img src="/../assets/logo1.png" height="54" width="150" alt=""></a>  
         <%=link_to 'Logout',destroy_user_session_path,:method=>'delete'%>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>    
             <li><%=link_to 'Logout',destroy_user_session_path,:method=>'delete'%></li>          
          </ul>
          <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                  </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>	
    <div id="wrapper" class="container">
   <section class="main-content">
				<div class="row">						
					<div class="span9">								
						<%=yield%>
					</div>
					<div class="span3 col">
						<div class="block">	
							<ul class="nav nav-list">
								<%if current_user.admin?%>
													<li>
					              		<%= link_to raw("Brands <span class='badge'>#{Brand.all.count}</span>"),brands_path %>
					              	</li>
					              	<li><%=link_to 'Product Categories',categories_path%></li>
					              	<li><%=link_to raw("Colors <span class='badge'>#{Color.all.count}</span>"),colors_path%></li>
					              	<li><%=link_to 'Seasions',seasions_path%></li>
					              	<li><%=link_to 'Tags',tags_path%></li>
					              	<li><%=link_to raw("Sellers <span class='badge'>#{Seller.all.count}</span>"),sellers_path%></li>                
					                <li><a href="#">Current Orders</a></li>
					                <li><a href="#">Archive Orders</a></li>
								 <%else%>
								    <li><a href="#">Profile</a></li>              	
                					<li><%=link_to "Products",seller_products_path(current_user.seller)%></li>
                					<li><a href="#">Current Orders</a></li>
                					<li><a href="#">Archive Orders</a></li>
                					<li><a href="#">Message To Admin</a></li>
								 <%end%>
							</ul>
							
						</div>
					</div>
				</div>
				<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="/../assets/feature_img_2.png" alt="" />
										<h4>MODERN <strong>DESIGN</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>									
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="/../assets/feature_img_1.png" alt="" />
										<h4>FREE <strong>SHIPPING</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="/../assets/feature_img_3.png" alt="" />
										<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
									</div>
								</div>
							</div>	
						</div>
			</section>
			<section class="our_client">
				<h4 class="title"><span class="text">Manufactures</span></h4>
				<div class="row">					
					<div class="span2">
						<a href="#"><img alt="" src="/../assets/14.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="/../assets/35.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="/../assets/1.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="/../assets/2.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="/../assets/3.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="../assets/4.png"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="./index.html">Homepage</a></li>  
							<li><a href="./about.html">About Us</a></li>
							<li><a href="./contact.html">Contac Us</a></li>
							<li><a href="./cart.html">Your Cart</a></li>
							<li><a href="./register.html">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="/../assets/logo1.png" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
		<%= render 'layouts/footer' %>
    </body>
  
</html>
