
<html>
  <head>
    <title>FormalChoise</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    
   <script type="text/javascript">
   	$(document).ready(function(){
  $('.bxslider').bxSlider();
});
   </script>
  </head>
  <body style="background-color: #CAC9C4;">  

    <!-- Fixed navbar -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">          
          <a class="navbar-brand" href="#">Formal Choise</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><%=link_to 'Login',new_user_session_path%></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                  </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">   
      	<ul class="bxslider" >
		  <li><img src="../assets/small/image1.jpg"/></li>
		  <li><img src="../assets/small/image2.jpg" /></li>
		  <li><img src="../assets/small/image3.jpg" /></li>
		  </ul>
     <div class="col-lg-3" style="color: black;border: 1px;float:right;width:250px;background:white;">
     	<ul>
     		<li>List A</li>
     		<li>List A</li>
     		<li>List A</li>
     		<li>List A</li>
     		<li>List A</li>
     		<li>List A</li>
     		
     	</ul>
     </div>
      <!-- Main jumbotron for a primary marketing message or call to action -->      
     <div class="col-lg-9" style="background-color: white; color: black;">     	 
		<%=yield%>
		</div>
    </div> 
      <!-- Main jumbotron for a primary marketing message or call to action -->
     
     
    <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
   
  </body>
</html>
